.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}

.tocStickyContainer {
  /* Sticky positioning */
  top: var(--ifm-navbar-height);
  position: sticky;

  /* ---- START: Use Grid instead of Flexbox ---- */
  /* Use Grid to create a strict two-row layout */
  display: grid;
  grid-template-rows: 1fr auto;
  /* ---- END: Use Grid instead of Flexbox ---- */

  /* Scrolling behavior */
  max-height: calc(100vh - var(--ifm-navbar-height));
}