.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}

.tocStickyContainer {
  /* Sticky positioning */
  top: var(--ifm-navbar-height);
  position: sticky;

  /* Scrolling behavior */
  max-height: calc(100vh - var(--ifm-navbar-height) - 200px);
  overflow-y: auto;
}

.feedbackWrapper {
  position: fixed;
  bottom: 2rem;
  width: inherit;
  padding-right: 1rem;

  @media (max-width: 996px) {
    display: none;
  }
}
