### ==================== TOP LEVEL ==================== ###

[[headers]]
  for = "/*"
  [headers.values]
    access-control-allow-origin = "*"

## Redirects with /current in the path 
[[redirects]]
from = "/weaviate/current/*"
to   = "/weaviate/:splat"
status = 301

[[redirects]]
from = "/contributor-guide/current/*"
to   = "/contributor-guide/:splat"
status = 301

## WCS redirects

### Redirect all paths starting with /wcs to /cloud
[[redirects]]
from = "/wcs/*"
to   = "/cloud/:splat"
status = 301

[[redirects]]
from = "/cloud/troubleshooting"
to   = "/cloud/faq"
status = 301

[[redirects]]
from = "/cloud/platform/ssconsole"
to   = "/cloud/tools/query-tool"
status = 301

[[redirects]]
from = "/cloud/platform/cluster-status"
to   = "/cloud/manage-clusters/status"
status = 301

[[redirects]]
from = "/cloud/console"
to   = "/cloud/tools/query-tool"
status = 301

[[redirects]]
from = "/cloud/cluster-status"
to   = "/cloud/manage-clusters/status"
status = 301

[[redirects]]
from = "/cloud/conect"
to   = "/cloud/manage-clusters/connect"
status = 301

[[redirects]]
from = "/cloud/create-instance"
to   = "/cloud/manage-clusters/create"
status = 301

[[redirects]]
from = "/cloud/upgrade"
to   = "/cloud/manage-clusters/upgrade"
status = 301

[[redirects]]
from = "/cloud/guides/console"
to   = "/cloud/tools/query-tool"
status = 301

[[redirects]]
from = "/cloud/guides/create-instance"
to   = "/cloud/manage-clusters/create"
status = 301

[[redirects]]
from = "/cloud/guides/authentication"
to   = "/cloud/manage-clusters/connect"
status = 301

[[redirects]]
from = "/cloud/platform/manage-api-keys"
to = "/cloud/manage-clusters/authentication"
status = 301

[[redirects]]
from = "/weaviate/tutorials/console"
to = "/cloud/tools/query-tool"
status = 301

## Redirect starting paths "/" and "/weaviate/introduction" to "/weaviate"

[[redirects]]
from = "/"
to   = "/weaviate"
status = 301

[[redirects]]
from = "/weaviate/introduction"
to   = "/weaviate"
status = 301

## Manage data refactoring

[[redirects]]
from = "/weaviate/manage-data"
to   = "/weaviate/manage-collections"
status = 301

[[redirects]]
from = "/weaviate/manage-data/collections"
to   = "/weaviate/manage-collections"
status = 301

[[redirects]]
from = "/weaviate/manage-data/create"
to   = "/weaviate/manage-objects/create"
status = 301

[[redirects]]
from = "/weaviate/manage-data/import"
to   = "/weaviate/manage-objects/import"
status = 301

[[redirects]]
from = "/weaviate/manage-data/read"
to   = "/weaviate/manage-objects/read"
status = 301

[[redirects]]
from = "/weaviate/manage-data/read-all-objects"
to   = "/weaviate/manage-objects/read-all-objects"
status = 301

[[redirects]]
from = "/weaviate/manage-data/update"
to   = "/weaviate/manage-objects/update"
status = 301

[[redirects]]
from = "/weaviate/manage-data/delete"
to   = "/weaviate/manage-objects/delete"
status = 301

[[redirects]]
from = "/weaviate/manage-data/cross-references"
to   = "/weaviate/manage-collections/cross-references"
status = 301

[[redirects]]
from = "/weaviate/manage-data/multi-tenancy"
to   = "/weaviate/manage-collections/multi-tenancy"
status = 301

[[redirects]]
from = "/weaviate/manage-data/tenant-states"
to   = "/weaviate/manage-collections/tenant-states"
status = 301

[[redirects]]
from = "/weaviate/manage-data/migrate"
to   = "/weaviate/manage-collections/migrate"
status = 301

## Roadmap page redirect

[[redirects]]
from = "/weaviate/roadmap"
to   = "/weaviate/release-notes"
status = 301

## Deployment redirects

[[redirects]]
from = "/weaviate/installation"
to   = "/deploy"
status = 301

[[redirects]]
from = "/weaviate/installation/weaviate-cloud-services"
to   = "/deploy/installation-guides/weaviate-cloud"
status = 301

[[redirects]]
from = "/weaviate/installation/docker-compose"
to   = "/deploy/installation-guides/docker-installation"
status = 301

[[redirects]]
from = "/weaviate/installation/kubernetes"
to   = "/deploy/installation-guides/k8s-installation"
status = 301

[[redirects]]
from = "/weaviate/installation/embedded"
to   = "/deploy/installation-guides/embedded"
status = 301

[[redirects]]
from = "/weaviate/installation/aws-marketplace"
to   = "/deploy/installation-guides/eks"
status = 301

[[redirects]]
from = "/weaviate/installation/gc-marketplace"
to   = "/deploy/installation-guides/gke-marketplace"
status = 301

[[redirects]]
from = "/weaviate/installation/spcs-integration"
to   = "/deploy/installation-guides/spcs-integration"
status = 301

[[redirects]]
from = "/weaviate/configuration/tenant-offloading"
to   = "/deploy/configuration/tenant-offloading"
status = 301

[[redirects]]
from = "/weaviate/more-resources/migration"
to   = "/deploy/migration"
status = 301

[[redirects]]
from = "/weaviate/more-resources/migration/archive"
to   = "/deploy/migration/archive"
status = 301

[[redirects]]
from = "/weaviate/more-resources/migration/weaviate-1-25"
to   = "/deploy/migration/weaviate-1-25"
status = 301

[[redirects]]
from = "/weaviate/more-resources/migration/weaviate-1-30"
to   = "/deploy/migration/weaviate-1-30"
status = 301

[[redirects]]
from = "/weaviate/tutorials/rbac"
to   = "/deploy/tutorials/rbac"
status = 301

[[redirects]]
from = "/weaviate/config-refs/env-vars"
to   = "/deploy/configuration/env-vars"
status = 301

[[redirects]]
from = "/weaviate/config-refs/env-vars/runtime-config"
to   = "/deploy/configuration/env-vars/runtime-config"
status = 301

# Docs migration redirects

[[redirects]]
from = "/weaviate/client-libraries/typescript/typescript-v3"
to   = "/weaviate/client-libraries/typescript"
status = 301


# Integrations

[[redirects]]
from = "/integrations/llm-frameworks/*"
to   = "/integrations/llm-agent-frameworks/:splat"
status = 301


[[redirects]]
from = "/weaviate/more-resources/dspy"
to   = "/integrations/llm-agent-frameworks/dspy"
status = 301

# Modules

## Text2vec redirects
[[redirects]]
from = "/weaviate/modules/retriever-vectorizer-modules/text2vec-contextionary"
to   = "/weaviate/modules/text2vec-contextionary"
status = 301

[[redirects]]
from = "/weaviate/modules/retriever-vectorizer-modules/text2vec-palm"
to   = "/weaviate/model-providers/google/embeddings"
status = 301

[[redirects]]
from = "/weaviate/modules/retriever-vectorizer-modules/text2vec-*"
to   = "/weaviate/model-providers/:splat/embeddings"
status = 301

## Generative redirects
[[redirects]]
from = "/weaviate/modules/reader-generator-modules/generative-palm"
to   = "/weaviate/model-providers/google/generative"
status = 301

[[redirects]]
from = "/weaviate/modules/reader-generator-modules/generative-*"
to   = "/weaviate/model-providers/:splat/generative"
status = 301

### i.e. "/weaviate/modules/reader-generator-modules/ner-transformers" => "/weaviate/modules/ner-transformers"
[[redirects]]
from = "/weaviate/modules/reader-generator-modules/*"
to   = "/weaviate/modules/:splat"
status = 301

## Multimodal redirects
[[redirects]]
from = "/weaviate/modules/retriever-vectorizer-modules/multi2vec-bind"
to   = "/weaviate/model-providers/imagebind/embeddings-multimodal"
status = 301

[[redirects]]
from = "/weaviate/modules/retriever-vectorizer-modules/multi2vec-clip"
to   = "/weaviate/model-providers/transformers/embeddings-multimodal"
status = 301

[[redirects]]
from = "/weaviate/modules/retriever-vectorizer-modules/multi2vec-palm"
to   = "/weaviate/model-providers/google/embeddings-multimodal"
status = 301

## Reranker redirects
[[redirects]]
from = "/weaviate/modules/retriever-vectorizer-modules/reranker-*"
to   = "/weaviate/model-providers/:splat/reranker"
status = 301

## Remaining module redirects
[[redirects]]
from = "/weaviate/modules/retriever-vectorizer-modules/ref2vec-centroid"
to   = "/weaviate/modules/ref2vec-centroid"
status = 301

[[redirects]]
from = "/weaviate/modules/retriever-vectorizer-modules/img2vec-neural"
to   = "/weaviate/model-providers/transformers/embeddings-multimodal"
status = 301

[[redirects]]
from = "/weaviate/modules/other-modules/custom-modules"
to   = "/weaviate/modules/custom-modules"
status = 301

## Other modules/model-providers redirects
[[redirects]]
from = "/weaviate/api/rest/modules"
to   = "/weaviate/model-providers"
status = 301

# Rest API redirects
[[redirects]]
from = "/weaviate/api/rest_legacy/modules"
to   = "/weaviate/model-providers"
status = 301

[[redirects]]
from = "/weaviate/api/rest_legacy/classification"
to   = "/weaviate/api/rest#tag/classifications"
status = 301

[[redirects]]
from = "/weaviate/api/rest/classification"
to   = "/weaviate/api/rest#tag/classifications"
status = 301

[[redirects]]
from = "/weaviate/api/rest/*"
to   = "/weaviate/api/rest#tag/:splat"
status = 301

[[redirects]]
from = "/weaviate/api/rest_legacy/*"
to   = "/weaviate/api/rest#tag/:splat"
status = 301

# --- 3rd party site redirects ---
[[redirects]]
from = "/weaviate/quickstart/installation"
to   = "/weaviate/quickstart"
status = 301

[[redirects]]
from = "/weaviate/quickstart/end-to-end"
to   = "/weaviate/quickstart"
status = 301

## Schema links

[[redirects]]
from = "/weaviate/schema/add-properties"
to   = "/weaviate/manage-collections/collection-operations"
status = 301

[[redirects]]
from = "/weaviate/schema/datatypes"
to   = "/weaviate/config-refs/datatypes"
status = 301

### redirect all the other schema links to manage-collections
[[redirects]]
from = "/weaviate/schema/*"
to   = "/weaviate/manage-collections"
status = 301

# Client library redirects

[[redirects]]
from = "/weaviate/client-libraries/javascript"
to = "/weaviate/client-libraries/typescript"
status = 301

# Configuration redirects

[[redirects]]
from = "/weaviate/config-refs/schema/range-index"
to = "/weaviate/concepts/filtering"
status = 301

[[redirects]]
from = "/weaviate/configuration/indexes"
to = "/weaviate/config-refs/schema/vector-index"
status = 301

[[redirects]]
from = "/weaviate/current/configuration/vector-index-type"
to = "/weaviate/config-refs/schema/vector-index"
status = 301

# Deployment redirects - Installation

[[redirects]]
from = "/weaviate/installation/docker-compose"
to = "/deploy/installation-guides/docker-installation"
status = 301

[[redirects]]
from = "/weaviate/installation/kubernetes"
to = "/deploy/installation-guides/k8s-installation"
status = 301

# Deployment redirects - Configuration

[[redirects]]
from = "/weaviate/configuration/rbac/configuration"
to = "/deploy/configuration/configuring-rbac"
status = 301

[[redirects]]
from = "/weaviate/configuration/backups"
to = "/deploy/configuration/backups"
status = 301

[[redirects]]
from = "/weaviate/configuration/authentication"
to = "/deploy/configuration/authentication"
status = 301

[[redirects]]
from = "/weaviate/configuration/authorization"
to = "/deploy/configuration/authorization"
status = 301

[[redirects]]
from = "/weaviate/configuration/persistence"
to = "/deploy/configuration/persistence"
status = 301

[[redirects]]
from = "/weaviate/configuration/monitoring"
to = "/deploy/configuration/monitoring"
status = 301

[[redirects]]
from = "/weaviate/configuration/replication"
to = "/deploy/configuration/replication"
status = 301

[[redirects]]
from = "/weaviate/config-refs/nodes"
to = "/deploy/configuration/nodes"
status = 301

[[redirects]]
from = "/weaviate/config-refs/meta"
to = "/deploy/configuration/meta"
status = 301

[[redirects]]
from = "/weaviate/config-refs/oidc"
to = "/deploy/configuration/oidc"
status = 301

[[redirects]]
from = "/weaviate/config-refs/telemetry"
to = "/deploy/configuration/telemetry"
status = 301

[[redirects]]
from = "/weaviate/config-refs/status"
to = "/deploy/configuration/status"
status = 301

# Howto redirects

[[redirects]]
from = "/weaviate/manage-data/exhaustive-retrieval"
to = "/weaviate/manage-objects/read-all-objects"
status = 301

# Tutorial refresh 2024

[[redirects]]
from = "/weaviate/tutorials/schema"
to = "/weaviate/starter-guides/managing-collections"
status = 301

[[redirects]]
from = "/weaviate/tutorials/connect"
to = "/weaviate/connections"
status = 301

[[redirects]]
from = "/weaviate/starter-guides/connect"
to = "/weaviate/connections"
status = 301

# 2024.10 Rename "prefiltering" to "filtering"

[[redirects]]
from = "/weaviate/concepts/prefiltering"
to = "/weaviate/concepts/filtering"
status = 301

# Remove BPR page

[[redirects]]
from = "/weaviate/concepts/binary-passage-retrieval"
to = "/weaviate/concepts/vector-index"
status = 301

# References: API / GraphQL redirects

[[redirects]]
from = "/weaviate/api/graphql/vector-search-parameters"
to = "/weaviate/api/graphql/search-operators"
status = 301

# Old link redirects

[[redirects]]
from = "/weaviate/current/getting-started/installation"
to = "/deploy/installation-guides"
status = 301

[[redirects]]
from = "/weaviate/configuration/pq-compression"
to = "/weaviate/configuration/compression/pq-compression"
status = 301

[[redirects]]
from = "/weaviate/configuration/bq-compression"
to = "/weaviate/configuration/compression/bq-compression"
status = 301

[[redirects]]
from = "/weaviate/manage-data/classes"
to = "/weaviate/manage-collections"
status = 301

[[redirects]]
from = "/weaviate/configuration/schema-configuration"
to = "/weaviate/manage-collections"
status = 301

# Restructured starter guides

[[redirects]]
from = "/weaviate/starter-guides/schema"
to = "/weaviate/starter-guides/managing-collections"
status = 301

# Redirects for Weaviate Core error messages

[[redirects]]
from = "/collections-count-limit"
to = "/weaviate/starter-guides/managing-collections/collections-scaling-limits"
status = 301

# Redirects for rbac

[[redirects]]
from = "/weaviate/configuration/rbac/manage-roles-users"
to = "/weaviate/configuration/rbac/manage-roles"
status = 301

## Other

[[redirects]]
from = "/weaviate/core-knowledge/basics"
to   = "/weaviate/concepts/data"
status = 301

