.apiTable {
  font-size: small;
}

.apiTable tbody tr {
  transition: box-shadow 0.2s;
}

.apiTable tbody tr:focus,
.apiTable tbody tr:hover {
  outline: none;
  box-shadow: 0 0 7px 0 inset var(--ifm-color-warning);
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.apiTable code {
  cursor: text;
}

.apiTable > tbody > tr[id] {
  scroll-margin-top: var(--secondary-navbar-height);

  /* Optional: Add a little extra buffer if needed */
  /* scroll-margin-top: calc(var(--secondary-navbar-height) + 10px); */
}
