//********************* Shared colour variables *********************
:root {
  --site-light-color: #ffe3ec;
}

//********************* Themed colour variables *********************
[data-theme='light'] {
  --site-base-color: #1c1468;
  --site-base-color-shade: #2c3854;

  --site-primary: #00a142;
  --site-primary-dark: #00c342;
  --site-accent: #fc3988;
  --site-accent-dark: #fb0b6d;

  --site-background: #f5f5f5;

  --site-font-main-color: #1c1468;
  --site-font-header-color: #2c3854;
  --site-font-accent-color: #00a142;
  --site-font-link-color: #00a142;

  --docs-base-color: #000000;
  --docs-header-color: #130c49;
  --docs-sidebar-bg: #ffffff;
  --docs-body-bg: #ffffff;
  --docs-secondary-navbar-color: #ffffff;
  --docs-modal-button-color: #464646;
  --docs-modal-button-bg: #ffffff;
  --docs-modal-bg: #ffffff;
  --docs-cards-bg: #fefefe;
  --docs-cards-hover-bg: #fafafa;
  --docs-cards-border-color: var(--ifm-color-emphasis-400);
  --docs-cards-border-hover-color: var(--ifm-color-emphasis-700);
}
[data-theme='dark'] {
  --site-base-color: #f7f9fd;
  --site-base-color-shade: #f5f5f5;

  --site-primary: #00c342;
  --site-primary-dark: #00a142;
  --site-accent: #fc3988;
  --site-accent-dark: #fb0b6d;

  --site-background: #0c1428;

  --site-font-main-color: #c3c5d8;
  --site-font-header-color: #f7f9fd;
  --site-font-accent-color: #00c342;
  --site-font-link-color: #00c342;

  --docs-base-color: #ffffff;
  --docs-header-color: #dddddd;
  --docs-sidebar-bg: #000000;
  --docs-body-bg: #000000;
  --docs-secondary-navbar-color: #17274d;
  --docs-modal-button-color: #c3c5d8;
  --docs-modal-button-bg: #1c305e;
  --docs-modal-bg: #17274d;
  --docs-cards-bg: #1c305e;
  --docs-cards-hover-bg: #1c305e;
  --docs-cards-border-color: var(--ifm-color-emphasis-400);
  --docs-cards-border-hover-color: var(--ifm-color-emphasis-700);
}

//********************* FONTS *********************
@font-face {
  font-family: 'FredokaOneRegular';
  src: url('/fonts/FredokaOne-Regular.ttf');
}

@font-face {
  font-family: 'NiramitRegular';
  src: url('/fonts/Niramit-Regular.ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf');
}

:root {
  --site-font-base-family: 'Inter', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  --site-font-heading-family: 'Plus Jakarta Sans', ui-monospace, SFMono-Regular,
    SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --site-font-fun-heading-family: 'Plus Jakarta Sans';
  --site-font-fun-base-family: 'Inter';
}
