.container {
  background-color: var(--ifm-background-surface-color);
  padding: 0.5rem;
  text-align: left;
  width: 100%;
  max-width: 160px;
  min-width: 100px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.5rem;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-card-border-radius);
  // box-shadow: var(--ifm-global-shadow-lw);
}

.text {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  font-size: 12px !important;
  line-height: 1.5;
  color: var(--ifm-color-emphasis-700);
  font-weight: 500;
}

.buttonContainer {
  margin-left: 0.5rem;
  display: flex;
  gap: 8px;
}

.voteButton {
  background-color: var(--ifm-background-surface-color);
  border: 1px solid var(--ifm-color-emphasis-300);
  color: var(--ifm-color-emphasis-800);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 0.25rem 0.6rem;
  font-size: 0.8rem !important;
  border-radius: var(--ifm-button-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem; /* Add gap for icon */

  &:hover {
    background-color: var(--ifm-hover-overlay);
    border-color: var(--ifm-color-emphasis-500);
  }

  &.selected {
    background-color: #ecf4f8;
    border-color: #61bd73;
    color: #130c49;
    cursor: default;

    &:hover {
      background-color: #ecf4f8;
      border-color: #61bd73;
    }
  }
}
